@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/*
PALETTE COLOR
#473144 rgba(71,49,68, )
#AF1B3F rgba(175,27,63, )
#DF9B6D rgba(223,155,109, )
#EFC69B rgba(239,198,155, )
#CCB69B rgba(204,182,155, )
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Raleway, sans-serif;
    /*background: #efc69b;*/
    background-image: linear-gradient(#f2c2b6, #ffe6c9 25%, #f2c2b6) ;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Raleway, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #473144;
    border:1px solid #ccb69b;
    border-radius: 8px;
    padding: 0 24px;
}
#logoprincipal {
    font:700 120px Montserrat, semi-bold;
    color: white;
    background-color: #473144;
    width: 480px;
}
#logo {
    display: flex;
    justify-content: center;
    font:700 20px Montserrat, semi-bold;
    color: white;
    background-color: #473144;
    width:110px;
}

form textarea {
    width: 100%;
    height: 60px;
    min-height: 140px;
    resize: vertical;
    color: #3333;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: rgba(71,49,68,0.5); /*#473144*/
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 16px;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    color: #ccb69b;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}
.back-link svg {
    margin-right: 5px;
}

.back-link:hover{
    opacity:0.8;
}
